---
layout: post
title: <%= @program_name %>
categories: <%= @categories %>
website: <%= @website %>
---
# <%= @program_name %>

<div class="institution">
  <p><%= @institution %></p>
</div>

## Mission Statement

<%= @mission_statement %>

